

input{
    background-color: darkseagreen;
    height: 40px;
    width: 408px;
    border-radius: 5px;
    border-style: solid black;
    border-width: 1px;
    margin-top:10px ;
    margin-bottom: 20px;
    padding-left: 10px;
}